<% include header %>

<h1>Top 10 Video Games</h1>

<h3>1. Portal 2 <br>

   2. Assassin's Creed <br>

   3. Star Wars Battlefront <br>

   4. PlayerUnknown's Battlegrounds <br>

   5. Tomb Raider <br>

   6. Lego Star Wars <br>

   7. Super Mario Bros. <br>

   8. Overwatch <br>

   9. Mario Kart <br>

   10. World Of Warcraft <br>

</h3>



<p>

    I decided to choose this topic because video games have always been a part of my life.  I have played

hundreds of games over time, and choosing my 10 favorite is practically impossible.  My favorite genre of games

are Puzzle games.  I can replay through Portal 2 a million times a still get stuck at the same part.  But I 

always feel rewarded when I complete the puzzle again.  PUBG has taken a lot of hours away from me recently because

of its highly addictive gameplay.  Getting a chicken dinner tastes better than real life.	

</p>


<% include footer %>